<div class="woo<%= item.is_writable ? '' : ' not-writable' %>">
    <a <%= _blank ? 'target="_blank"' : '' %> class="cover" href="<%= item.href %>">
    <div class="j">
        <div class="img-wrapper">
                <img id="album<%= i %>" src="/<%= item.cover %>" width="<%= item.size.width %>" height="<%= item.size.height %>"/>
        </div>
        <div class="row">
            <div class="cell-title">
                <% if (item.type == 'root') { %>
                <span class="glyphicon glyphicon-home"></span>
                <% } %>
                <% if (!item.is_writable) { %>
                <span class="glyphicon glyphicon-warning-sign"></span>   
                <% } %>
                <span><%= item.title %></span>
            </div>
            <div class="cell-count">
                <% if (item.type == 'folder') { %>
                <span class="glyphicon glyphicon-folder-open"></span>
                <% } else if (item.type == 'album' || item.type == 'root') { %>
                <span class="glyphicon glyphicon-picture"></span>
                <% } %>
                <span><%= item.count %></span>
            </div>
        </div>
    </div>
    </a>
</div>
