<div class="img-item">
    <div class="img-meta">
        <a href="#" class="img-metabg-sign"><span class="glyphicon glyphicon-info-sign"></span></a>

        <div class="img-metabg">
            <table>
                <tbody>
                <tr>
                    <th><%= __('path') %></th>
                    <td><%= item['src'] %></td>
                </tr>
                <tr>
                    <th><%= __('width') %> x <%= __('height') %></th>
                    <td><%= item['width'] %> x <%= item['height'] %></td>
                </tr>
                <tr>
                    <th><%= __('size') %></th>
                    <td><%= item['size'] %></td>
                </tr>
                <tr>
                    <th><%= __('ctime') %></th>
                    <td><%= item['ctime'] %></td>
                </tr>
                <tr>
                    <th><%= __('mtime') %></th>
                    <td><%= item['mtime'] %></td>
                </tr>
                <tr>
                    <th><%= __('atime') %></th>
                    <td><%= item['atime'] %></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a href="#" class="img">
        <div class="img-wrapper">
            <img src="/<%= item['src'] %>" id="<%= 'pic' + i %>"
                 data-width="<%= item['width'] %>" data-height="<%= item['height'] %>"
                 data-original-title="æ“ä½œ"/>
        </div>
    </a>
    <button type="button" class="img-opr btn btn-danger btn-lg"><span class="glyphicon glyphicon-trash"></span>
    </button>
</div>